
/* custom content container */
.custom-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header Styles */
.navbar-bg-custom {
  background-color: #455765;
}

.custom-content-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-img-container {
  width: 170px;
  height: 60px;
}

.logo-img {
  width: 100%;
  object-fit: contain;
}

                                                                                                    /* hero section */
.hero-section {
  background-image: url("/assets/hero-banner-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 700px; */
  margin: 0;
  padding: 50px 10px;
}

.hero-sec-tagline {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.hero-sec-tagline-2 {
  font-size: 56px;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.hero-sec-tagline-2-sub-text {
  color: #f26c61;
}

.advanced-search-bar-container{
  width: 100%;
  background-color: red;
}

.advanced-search-bar-status-btn {
  width: 10%;
  background-color: #f26c61;
  text-align: center;
}

.advanced-search-bar-form {
  width: 90%;
  margin-right: auto;
}

.advanced-search-bar-form .form-control {
  border: none;
  border-right: 1px solid #d3d3d3;
  border-radius: 0;
}

.advanced-search-bar {
}
.property-types-container {
  color: #fff;
}

.advanced-search-bar-advance-btn{
    font-size: 1.125rem;
    font-weight: 500;
}

.advanced-search-bar-search-btn{
  text-transform: uppercase;
  margin-left: auto;
  float: right;
}

.property-types-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 8px;
}

.property-type{
  width: 200px;
  /* width: 20%; */
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  border: 1px dotted #fff;
  border-radius: 5px;
}


                                                                                            /* Slider / Carousel Section */
.property-grid-slider{
  padding: 100px 10px;
}

.property-display-sec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carousel-section-tagline{
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0;
}

.carousel-section-tagline-desciption{}

.slider-section-navbar a{
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 0.25rem;
}

.slider-section-navbar .nav-item a{
  color: #000;
}

.slider-section-navbar .nav-link .active{
  border-bottom-color: #f26c61;
  color: #000;
}

.slider-section-navbar .nav-item .nav-link:hover{
  border-bottom-color: #f26c61;
}

.property-display-row-container{
  justify-content: space-around;
  padding: 10px 0;
  gap: 5px;
}

                                                                                  /* Bootstrap Card */
 .custom-card{
    margin: 0 auto;
 }

 .card-text{
    display: flex;
 }
 .card-location-icon{
  width: 15px;
  height: 15px;
  margin-top: 5px;
 }

 .card-text > p{
    padding-left: 0.315rem;
 }

.card-icons-background{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    padding: 2px 2px;
 }

 .card-action-buttons{
    display: flex;
    flex-direction: row;
 }
 .custom-li-style{
  width: 33%;
  font-weight: 500;
  padding: 5px 16px;
  border-radius: 5px;
 }
 .card-action-button-container{
    display: flex;
    flex-direction: row;
 }

 .card-action-btn-bed-icon{
    width: 20px;
    height: 20px;
 }
 .card-action-btn-bathtub-icon{
    width: 25px;
    height: 25px;
 }

 .home-area-text{
    font-size: 12px;
    font-weight: 700;
    margin-top: 3px;
 }
 .custom-li-style p{
    padding-left: 0.315rem;
    margin-bottom: 0;
 }



                                                                                  /* Footer Section Navbar */
.middle-navbar-items{
  color: #fff;
  text-transform: capitalize;
}

.middle-navbar-items:hover{
  color: #fff;
}


.footer-section{
  background-image: url('/assets/footer-bg-img.jpg');
  background-repeat: no-repeat;
  
}

.footer-grid-tagline{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.footer-grid-description{
  color: #fff;
}

.footer-search-bar{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 2px;
  width: 100%;
}

.footer-search-bar .form-control{
  width: 75%;
}

.signup-btn{
  font-size: 14px;
  padding:0 10px;
}



 /* Extra small devices (phones) */
 @media (max-width: 576px) { 
    .hero-sec-tagline-2{
      font-size: 2.3rem;
    }
    .advanced-search-bar-status-btn > a{
      font-size: 1rem;
    }
    .advanced-search-bar-advance-btn{
      font-size: 0.8rem;
      padding: 6px 4px;
    }
    .advanced-search-bar-search-btn{
      font-size: 0.8rem;
      padding: 6px 2px; 
    }

    .property-types-container{
      /* d-flex flex-column row-gap-sm-2 column-gap-sm-5 flex-sm-column flex-md-row flex-lg-row align-content-around  */
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .property-type{
      width: 50%;
    }

    .property-grid-slider{
      padding: 100px 10px;
    }

    .property-display-sec{
      flex-direction: column;
      gap: 15px;
    }
    .carousel-section-tagline{
      font-size: 1.25rem;
      text-align: center;
    }
    .carousel-section-tagline-desciption{
      font-size: 0.75rem;
      text-align: center;
    }

    .slider-section-navbar a{
      padding-top: 0.25rem;
      font-size: 0.75rem;
    }

    .property-display-row-container{
      padding: 15px 0;
      gap: 20px;
    }
}

/* Small devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Custom styles for SM screens */
}

/* Medium devices (desktops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Custom styles for MD screens */
}

/* Large devices (large desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Custom styles for LG screens */
}

/* Extra large devices (extra large desktops) */
@media (min-width: 1201px) {
  /* Custom styles for XL screens */
}
